---
Checks: '*,-fuchsia-default-arguments,-fuchsia-trailing-return,-fuchsia-virtual-inheritance,-fuchsia-default-arguments-calls,-clang-diagnostic-padded,-fuchsia-multiple-inheritance,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay,-fuchsia-overloaded-operator,-fuchsia-statically-constructed-objects,-llvmlibc-restrict-system-libc-headers,-llvmlibc-callee-namespace,-llvmlibc-implementation-in-namespace,-bugprone-easily-swappable-parameters,-readability-identifier-length,-altera-unroll-loops,-bugprone-unchecked-optional-access,-cppcoreguidelines-avoid-non-const-global-variables,-cppcoreguidelines-avoid-const-or-ref-data-members,-altera-id-dependent-backward-branch,-readability-function-cognitive-complexity'
WarningsAsErrors: '*'
FormatStyle: google
CheckOptions:
  readability-function-cognitive-complexity.IgnoreMacros: true
